body { padding-top:70px; font-family: 'Roboto', sans-serif; }
#logo-img { height:40px; }
.navbar-brand { padding:5px; }
.half-width { width:50%; }
.margin-auto { margin:auto; }
.text-centered { text-align:center; }
.text-double { font-size:2em; }