<template name="frontpageAnonymous">
	<div class="container-fluid">
		<p class="lead text-centered text-double">
			Welcome at Yet Another Video Chat Application!
		</p>
		<div class="half-width margin-auto">
			<img class="img-responsive" alt="YAVCA" src="images/logo.png">
		</div>
		<div class="margin-auto text-centered" style="padding:20px 0;">
			<button id="button-login" type="button" class="btn btn-primary btn-lg" style="width: 150px;">Login</button>
			<button id="button-register" type="button" class="btn btn-success btn-lg" style="width: 150px;">Register</button>
		</div>
	</div>
</template>