<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
		    <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yavca-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
		    	<a class="navbar-brand" href="/">
		        	<img id="logo-img" alt="YACVA" src="images/logo.png">
		     	</a>
		    </div>

		    <div class="navbar-collapse collapse" id="yavca-navbar-collapse-1">
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="#">About Us</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		            {{> loginButtons}} <!-- here -->
		        </ul>
		    </div>
  		</div>
	</nav>
</template>